body {
    margin: 0;
    padding: 50px;
    background-color: beige;
}
/* Ejericio 1*/
h1 {
    color: brown;
}
/* Ejericio 3*/
h1.fnt-red {
    color: red;
}
.fnt-blue {
    color: blue;
}
#nombre_alumno {
    color: red;
    text-decoration: underline;
} 
/* Ejericio 3A*/ 
.titulo {
    color: aqua;
    font-size:30px;
    font-family: cursives;
}  
.texto {
    color:blue;
    font-size:15px;
}
.destacado {
    font-family:cursives;
}
/* Ejericio 4*/
.menu{
    background-color: blue;
    height: 40px;
    width: 100%;
    text-align: center;
}
.contenido{
    width: 100%;
    height: 40%;
    text-align: center;
    height: 80px;
    margin: 15% auto;
}
.pie{
    background-color: red;
    height: 40px;
    width: 100%;
    text-align: center;
}
/* Ejericio 4A*/
.css{
    margin: 20px auto;
    width: 50%;
    height: 200px;
    background-color: chocolate;
    position: relative;
}
.css h1{
    text-align: center;
    color:white;
    padding:80px 0; 
}
.circle1{
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 7px solid chocolate;
    background-color: white;
    position: absolute;
    right: 23%;
    top: 8%;
    z-index:1;
}
.circle2{
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 7px solid chocolate;
    background-color: white;
    position: absolute;
    left: 23%;
    top: 8%;
    z-index:2;
}
.circle3{
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 7px solid chocolate;
    background-color: white;
    position: absolute;
    right: 23%;
    top: 38%;
    z-index:3;
}
.circle4{
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 7px solid chocolate;
    background-color: white;
    position: absolute;
    left: 23%;
    top: 38%;
    z-index:4;
}
/* Ejericio 4B*/
.back{
    width: 30%;
    height: 160px;
    background-color: white;
    font-family: cursives;
    border-radius: 5ch;
}
.back p{
    font-size: 19px;
    padding: 9% 5%;
    position: relative;
    z-index: 1;
    text-align: center;
}
.front{
    background-color: aqua;
    opacity:initial;
    width: 14%;
    height: 160px;
    position: absolute;
    left: 18%;
    border-bottom-right-radius: 5ch;
    border-top-right-radius: 5ch;
}
/* Ejericio 4C*/
.secciones{
    width: 75%;
    height: 350px;
    margin: 10px auto;
}
.seccion1{
    background-color: white;
    width: 26%;
    height: 350px;
    float: left;
    margin: 0 3% 0 4%;
    border-radius: 5%;
}
.seccion1 img{
    width: 100%;
    height: 50%;
    border-radius: 5%;
}
.seccion1 h2{
    color: black;
    padding-left: 10px; 
    margin-top: 5px;
}
.seccion1 h4{
    margin: -15px 0px;
    padding: 0 10px; 
}
.seccion1 p{
    margin: 20px 0px;
    padding: 0 10px;
    text-align: justify;
    color: gray;
}
.seccion2{
    background-color: white;
    width: 26%;
    height: 350px;
    float: left;
    margin: 0 3%;
    border-radius: 5%;
}
.seccion2 img{
    width: 100%;
    height: 50%;
    border-radius: 5%;
}
.seccion2 h2{
    color: black;
    padding-left: 10px; 
    margin-top: 5px;
}
.seccion2 h4{
    margin: -15px 0px;
    padding: 0 10px; 
}
.seccion2 p{
    margin: 20px 0px;
    padding: 0 10px;
    text-align: justify;
    color: gray;
}
.seccion3{
    background-color: white;
    width: 26%;
    height: 350px;
    float: left;
    margin: 0 3%;
    border-radius: 5%;
}
.seccion3 img{
    width: 100%;
    height: 50%;
    border-radius: 5%;
}
.seccion3 h2{
    color: black;
    padding-left: 10px; 
    margin-top: 5px;
}
.seccion3 h4{
    margin: -15px 0px;
    padding: 0 10px;
}
.seccion3 p{
    margin: 20px 0px;
    padding: 0 10px;
    text-align: justify;
    color: gray;
}
/* Ejericio 5*/
/*.icons{
    width: 20%;
    height: 230px;
    background-color:yellow;
    margin: 0 auto;
}*/
.icon1{
    background-color:  red;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 13%;
    left: 42%;
}
.icon1 i{
    font-size: 60px;
    color: white;
    padding: 20px;
}
.icon2{
    background-color: green;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 13%;
    left: 51%;
}
.icon2 i{
    font-size: 60px;
    color: white;
    padding: 20px;
}
.icon3{
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 32%;
    left: 42%;
}
.icon3 i{
    font-size: 60px;
    color: white;
    padding: 20px;
}
.icon4{
    background-color: black;
    width: 100px;
    position: absolute;
    top: 32%;
    left: 51%;
}
.icon4 i{
    font-size: 60px;
    color: white;
    padding: 20px;
}
/* Ejericio 7*/
table{
    text-align: justify;
    margin: 15px; 
}
/* Ejericio 8*/
.campo{
    margin: 10px 0;
    width: 50%;
}
.fila div{
    width: 50px;
    height: 50px;
    background-color: gray;
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    vertical-align: top;
}
.fila div:hover{
    background-color: green;
}
.fila .mina{
    width: 50px;
    height: 50px;
    background-color: gray;
    margin: 5px;
    display: inline-block;
}
.fila .mina i{
    display: none;
    font-size: 30px;
}
.fila .mina:hover i{
    display: inline-block;
}
.fila .mina:hover{
    background-color: red;
}

/* Ejericio 9*/
.contenedor{
    width:50%;
    text-align: justify;
}
.parrafo::first-letter {
    font-size: 3em;
    font-family: 'Oldenburg', cursive;
}
.linea{
    color: maroon;
}
/* Ejericio 11*/
.elementos{
    height: 28px;
}
.elementos li{
    display: inline-block;
    margin: 5px auto;
    width: 23%;
    background-color: gray;
    text-align: center;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
}
.elementos li a{
    text-decoration: none;
    margin: 35px auto;
    color:white;
}
/* Ejericio 12*/
form.formulario {
    width: 50%;   
    height: 300px;
    margin: 20px 0;
    padding: 10px;
    background-color:white;
    color: blue;
    font-weight: bold;
}
.parte1 > label {
    width: 70px;
    display: inline-block;
}
.parte1 > input {
    width: 200px;
    margin-bottom: 10px;
}
.parte1 >input[name="nombre"]{
    width: 85%;
    display: inline-block;
}
.parte1 >input[name="apellidos"]{
    width: 85%;
    display: inline-block;
}
.parte1 >input[name="direccion"]{
    width: 85%;
    display: inline-block;
}
.parte1 >input[name="poblacion"]{
    width: 38%;
    display: inline-block;
}
.parte1 >input[name="cpostal"]{
    width: 34%;
    display: inline-block;
}
.parte2{
    width: 100%;
}
.part1{
    width: 50%;   
}
.part2{
    width: 50%;
    float:right;
    margin-top: -79px; 
}
.part2 > label{
    display: block;
}
form.formulario button {
    padding: 10px;
    font-weight: bold;
}
/* Ejericio 13*/
#form01{
    width: 50%;
    margin: 10px;
}
#form01 input{
    display: block;
    margin:5px;
}

    